/* rich-text-editor.css */

.rich-text-editor .ql-toolbar.ql-snow {
	border-color: hsl(var(--border));
}

.rich-text-editor .ql-container.ql-snow {
	border-color: hsl(var(--border));
}

.rich-text-editor .ql-toolbar .ql-stroke {
	stroke: hsl(var(--foreground));
}

.rich-text-editor .ql-toolbar .ql-fill {
	fill: hsl(var(--foreground));
}

.rich-text-editor .ql-toolbar .ql-picker {
	color: hsl(var(--foreground));
}

.rich-text-editor .ql-editor {
	color: hsl(var(--foreground));
	background-color: hsl(var(--background));
}

.rich-text-editor .ql-toolbar .ql-picker-options {
	background-color: hsl(var(--background));
	border-color: hsl(var(--border));
}

.rich-text-editor .ql-toolbar button:hover .ql-stroke,
.rich-text-editor .ql-toolbar button:focus .ql-stroke,
.rich-text-editor .ql-toolbar button.ql-active .ql-stroke {
	stroke: hsl(var(--primary));
}

.rich-text-editor .ql-toolbar button:hover .ql-fill,
.rich-text-editor .ql-toolbar button:focus .ql-fill,
.rich-text-editor .ql-toolbar button.ql-active .ql-fill {
	fill: hsl(var(--primary));
}

.rich-text-editor .ql-toolbar .ql-picker-label:hover,
.rich-text-editor .ql-toolbar .ql-picker-label.ql-active,
.rich-text-editor .ql-toolbar .ql-picker-item:hover,
.rich-text-editor .ql-toolbar .ql-picker-item.ql-selected {
	color: hsl(var(--primary));
}

.rich-text-editor input {
	background-color: white;
}

.rich-text-editor img {
	width: 500px;
	height: 500px;
	padding: 2px;
}
